apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: controller
  labels:
    strimzi.io/cluster: my-cluster
  namespace: team3-ns # добавил свой проект
spec:
  replicas: 1
  roles:
    - controller
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 10Gi
        class: s3-kafka
        kraftMetadata: shared
        deleteClaim: false
  # Лимиты ресурсов
  resources:
    requests:
      memory: 512Mi
      cpu: "250m"
    limits:
      memory: 512Mi
      cpu: "500m"
---
apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: broker
  labels:
    strimzi.io/cluster: my-cluster
  namespace: team3-ns # добавил свой проект
spec:
  replicas: 1
  roles:
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 10Gi
        class: s3-kafka
        kraftMetadata: shared
        deleteClaim: false
  # Лимиты ресурсов
  resources:
    requests:
      memory: 512Mi
      cpu: "250m"
    limits:
      memory: 512Mi
      cpu: "500m" 
---
apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: my-cluster
  namespace: team3-ns
  annotations:
    strimzi.io/node-pools: enabled
    strimzi.io/kraft: "enabled"
spec:
  kafka:
    version: 4.1.1
    metadataVersion: 4.1-IV1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    config:
      default.replication.factor: 1
      min.insync.replicas: 1
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
  entityOperator:
    topicOperator: {}
    userOperator: {}